<header class="header">
    <div class="header-container">
      <div class="logo-section">
        <h1 class="logo">
          ./Cy Dixon
        </h1>
      </div>
      <nav class="navbar">
        <ul class="nav-links">
          <!-- Example nav links -->
          <li> Contact Me </li>
          <li> -> </li>
          <li>
            <a href="https://www.linkedin.com/in/cy-dixon/" target="_blank">
              <img src="static/icons/linkedin.png" alt="LinkedIn" class="icon" /> 
              LinkedIn
            </a>
          </li>
          <li>
            <a href="https://github.com/cylissama" target="_blank">
              <img src="static/icons/github.png" alt="GitHub" class="icon" /> 
              GitHub
            </a>
          </li>
          <li>
            <a href="mailto:cydaniel@ymail.com">
              <img src="static/icons/email.svg" alt="Email" class="icon" /> 
              Email
            </a>
          </li>
        </ul>
      </nav>
    </div>
</header>